@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC&subset=latin,latin-ext);

/*------ template stylization ------*/
body {
  background: url(../img/bg1.png);
  font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 20px;
  color: #ffffff;
  min-width: 1320px;
}
#webSiteLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1023;
}
#webSiteLoader > span {
  position: absolute;
  left: 50%;
  top: 50%;
}
#pageLoader {
  position: fixed;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  z-index: 1000;
  display: none;
}
#pageLoader > div {
  background: url(../img/page_loader.gif) 0 0 no-repeat;
  width: 50px;
  height: 50px;
}
._justify{
  text-align: justify;	
}
._marginNull {
  margin: 0 !important;
}
._paddingNull {
  padding: 0 !important;
}
._borderNull {
  border: none !important;
}
._backgroundNull {
  background: none !important;
}
._relative {
  position: relative;
}
._absolute {
  position: absolute;
}
.wrap {
  overflow: hidden;
}
._txtLeft {
  text-align: left;
}
._txtRight {
  text-align: right;
}
._txtCenter {
  text-align: center;
}
._fullWidth {
  width: 100%;
}
/*------------- HEADER ---------------------------------------------------------- */
header {
  width: 100%;
  height: 150px;
  position: relative;
  display: block;
  z-index: 5;
  margin-top: 50px;
}
h1 {
  max-width: 366px; //206px
  width: 100%;
  margin: 0;
  display: inline-block;
  margin: 50px 0 50px 55px;
  z-index: 10;
  float: left;
}
h1 > a {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1;
 
}
h1 > span {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1;
}
#search {
  margin: 0;
  display: inline-block;
  width: 100%;
}
#search input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 405px;
  padding: 8px 15px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 0;
  font: 14px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #b0b0b0;
}
#search a {
  float: right;
  margin-top: 0px;
}
#search #advancedSearch:hover {
  color: #005580;
}
.mh1 {
        font-family: 'Oswald', serif;
        font-size: 34px;
		//text-shadow: 2px 2px 2px #aaa;
		//font-weight: 100;
		//background:yellow;
		//letter-spacing: 2px;
		//padding:0px;
		
      }
.mh2 {
	    font-family: 'Oswald', serif;
        font-size: 18px;
		line-height: 20px;
		//background:red;
		//letter-spacing: 2px;
		
	  }
/*---------------- header end ------------------------------------------------*/
/*---------------- MENU ------------------------------------------------------*/
.select-menu {
  display: none;
  width: 100%;
}
header .navbar {
  margin: 62px 0 0 0;
  float: right;
  display: inline-block;
  position: relative;
  z-index: 2;
}
header .navbar > .navbar-inner {
  padding: 0;
  border-radius: 0;
  margin: 0;
  background: none;
  border: none;
  filter: none;
  box-shadow: none;
}
.sf-menu {
  float: left;
  list-style: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}
.sf-menu > li {
  position: relative;
  display: inline-block;
  float: left;
  padding-right: 21px;
  margin-right: 20px;
  background: url(../img/divider1.png) 100% 50% no-repeat;
}
.sf-menu > li > a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: left;
  width: 100%;
}
.sf-menu > li > a:hover {
  text-decoration: none;
}
.sf-menu > li > a .base_text {
  color: #cdd78e;
  font: 600 15px/25px 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  z-index: 2;
}
.sf-menu > li > a .over_text {
  color: #ffffff;
  font: 600 15px/25px 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  z-index: 2;
  left: 0;
}
.sf-menu > li > a ._area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  left: 0;
  display: block;
  background: url(../img/pixel.png);
}
.sf-menu > li > a ._over {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;
  left: 0;
  display: block;
  background: none;
}
.sf-menu ul {
  position: absolute;
  list-style: none;
  margin: 0;
  left: -45px;
  top: 50px;
  z-index: 10;
  width: 170px;
  background: #a5ba1e;
}
.sf-menu ul > li {
  display: block;
  margin-bottom: 0px;
  border-bottom: 1px solid #ffffff;
}
.sf-menu ul a {
  color: #ffffff;
  font: 600 12px/25px 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sf-menu ul a:hover {
  color: #ffffff;
  background: #c4dd24;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sf-menu ul .hoverItem {
  color: #ffffff !important;
  background: #c4dd24;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sf-menu .sub2 {
  top: 46px;
  left: 171px;
}
/*-------------   menu end  --------------*/
/*----------------- CONTENT BASE --------------------------------------------------- */
#wrapper section {
  position: relative;
  width: 100%;
  z-index: 1;
  top: 0px;
}
#wrapper .containerHolder {
  position: relative;
  width: 100%;
  z-index: 3;
  background: #fefefe;
}
#wrapper section > div {
  position: relative;
}
.dynamicContent {
  position: absolute;
  width: 100%;
}
.dynamicContent > .content {
  padding: 0 0 0 0;
}
h2 {
  color: #252832;
  font: 300 30px/30px "Alegreya Sans SC", Arial, "Helvetica Neue", Helvetica, sans-serif;
  
  margin: 0 0 37px 0;
}
h3 {
  color: #252832;
  font: 300 20px/25px "Alegreya Sans SC", Arial, "Helvetica Neue", Helvetica, sans-serif;

  margin: 0 0 12px 0;
}
p {
  font: 16px/23px Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 17px;
  color: #616161;
}
.more_btn1 {
  display: inline-block;
  font: 14px/19px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  background: #4e586a;
  padding: 0;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: 10px 15px;
  background-color: #4e586b;
  background-image: -moz-linear-gradient(top, #545f73, #454d5e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545f73), to(#454d5e));
  background-image: -webkit-linear-gradient(top, #545f73, #454d5e);
  background-image: -o-linear-gradient(top, #545f73, #454d5e);
  background-image: linear-gradient(to bottom, #545f73, #454d5e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff545f73', endColorstr='#ff454d5e', GradientType=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.more_btn1:hover {
  text-decoration: none;
  color: #ffffff;
  background: #a5ba1e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*--- content end ------*/
/*---------------------- LINKS ---------------------------------- */
._link1 {
  font: 400 12px/24px 'Alegreya Sans SC', Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #7a7a7a;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
._link1:hover {
  color: #a5ba1e;
  text-decoration: none;
}
._link2 {
  color: #252832;
  font: 300 20px/25px 'Alegreya Sans SC', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
._link2:hover {
  color: #a5ba1e;
  text-decoration: none;
}
._link3 {
  color: #282828;
  font: 14px/23px Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
._link3:hover {
  color: #a5ba1e;
  text-decoration: none;
}
._link4 {
  color: #b0b0b0;
  font: 14px/23px Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
._link4:hover {
  color: #a5ba1e;
  text-decoration: none;
}
/*-------------------------- MARGIN PADDING --------- */
.img_margin {
  margin: 5px 20px 3px 0;
  float:left;
}
.margin1 {
  margin-bottom: 25px;
}
.margin2 {
  margin-bottom: 27px !important;
}
.margin3 {
  margin-bottom: 65px;
}
.margin4 {
  margin: 9px 0;
}
.margin5 {
  margin-bottom: 30px;
}
.margin6 {
  margin: -5px 0 20px 0;
}
.margin7 {
  margin: -5px 0 3px 0;
}
.margin8 {
  margin-bottom: 10px;
}
.margin9 {
  margin-bottom: 20px;
}
.margin10 {
  margin-bottom: 40px;
}
.padding1 {
  padding: 62px 0 75px 0;
}
.padding2 {
  padding-bottom: 75px;
}
.padding3 {
  padding: 0 0 75px 0;
}
.padding4 {
  padding-top: 67px;
}
.padding5 {
  padding-left: 35px;
}
.padding6 {
  padding: 95px 0;
}
.padding7 {
  padding-bottom: 35px;
}
.padding8 {
  padding: 95px 0 95px 0;
}
/*-------------------------- TEXTSTYLES ------------- */
.textStyle1 {
  color: #ffffff;
  font-weight: 600;
}
.textStyle2 {
  color: #a5ba1e;
  font-size: 45px;
  line-height: 55px;
}
.textStyle3 {
  color: #454c59;
  font-size: 45px;
}
.textStyle4 {
  color: #454c59;
  font-size: 45px;
  line-height: 42px;
  margin-bottom: 25px;
}
.textStyle5 {
  color: #a5ba1e;
  font-size: 45px;
}
/*-------------------------- LISTS ------------------ */
._list1 {
  list-style: none;
  margin: 0;
}
._list1 li {
  display: block;
  position: relative;
  margin-bottom: 13px;
  background: url(../img/marker1.png) 0 4px no-repeat;
}
._list1 li a {
  display: inline-block;
  margin-left: 26px;
  font: 14px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #b0b0b0;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
._list1 li a:hover {
  text-decoration: none;
  color: #a5ba1e;
}
._list2 {
  list-style: none;
  margin: 0;
}
._list2 li {
  display: block;
  position: relative;
  margin-bottom: 13px;
  background: url(../img/marker1.png) 0 4px no-repeat;
}
._list2 li a {
  display: inline-block;
  margin-left: 26px;
  font: 14px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #b0b0b0;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
._list2 li a:hover {
  text-decoration: none;
  color: #a5ba1e;
}
._list3 li {
  font: 16px/23px Arial, "Helvetica Neue", Helvetica, sans-serif;	
  display: block;
  position: relative;
  margin-bottom: 13px;
  padding-left: 20px;
  background: url(../img/marker1.png) 0 4px no-repeat;
  color: #717171;
 }
 
/*-------------------------- EXTRA -------------------*/
.space1 {
  display: inline-block;
  width: 83px;
}
.extraBg1 {
  width: 1500px;
  height: 150px;
  display: inline-block;
  position: absolute;
  background: url(../img/bg2.png);
  top: 0;
  left: 0;
}
.extraBg2 {
  width: 1500px;
  height: 107px;
  display: inline-block;
  position: absolute;
  background: url(../img/bg3.png);
  top: 0;
  right: 0;
}
.extraBg3 {
  width: 2000px;
  height: 100%;
  display: inline-block;
  position: absolute;
  background: url(../img/bg4.png);
  top: 0;
  left: 50%;
  margin-left: -1000px;
  z-index: -1;
}
.extraBg4 {
  width: 1300px;
  height: 100%;
  display: inline-block;
  position: absolute;
  background: url(../img/bg4.png);
  top: 0;
  left: -30px;
  z-index: -1;
}
.extraBg5 {
  width: 1000px;
  height: 101%;
  display: inline-block;
  position: absolute;
  background: #181c32;
  top: -4px;
  right: 0;
  z-index: -1;
}
.social_list {
  list-style: none;
  margin: 33px 33px 33px 0;
  float: right;
  position: relative;
  z-index: 1;
}
.social_list li {
  display: inline-block;
  float: left;
  margin-left: 8px;
}
.badge1 {
  padding: 0;
  border-radius: 0;
  float: left;
  margin: 0 20px 0 0;
}
.badge2 {
  padding: 0;
  border-radius: 0;
  float: left;
  margin: 0 30px 0 0;
  width: 69px;
  height: 69px;
  text-align: center;
  background: url(../img/extra_item1.png) 0 0 no-repeat;
}
.badge2 span {
  font: 300 36px/70px 'Alegreya Sans SC', Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 1px #98b01b;
}
.thumb-pad .thumbnail {
  border-radius: 0;
  border: none;
  padding: 0;
  box-shadow: none;
}
.thumb-pad .thumbnail > a {
  display: inline-block;
  position: relative;
  margin-bottom: 23px;
}
.thumb-pad .thumbnail > a img {
  padding: 0;
}
.thumb-pad .thumbnail .caption {
  padding: 0;
}
.pic {
  position: relative;
}
.pic ._over {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../img/magnify.png) 50% 50% no-repeat;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.pic:hover ._over {
  opacity: 1;
  filter: alpha(opacity=100);
}
.img1 {
  float: left;
  margin-right: 30px;
}
.img2 {
  right: 60px;
  top: 80px;
  position: absolute;
}
.extra_item1 {
  display: inline-block;
  background: url(../img/extra_item2.png) 0 40% no-repeat;
  margin-right: 20px;
  text-indent: 20px;
}
.extra_item2 {
  display: inline-block;
  background: url(../img/extra_item3.png) 0 40% no-repeat;
  margin-right: 25px;
  text-indent: 20px;
}
.extra_item3 {
  display: inline-block;
  background: url(../img/extra_item4.png) 0 50% no-repeat;
  margin-right: 30px;
  text-indent: 20px;
}
.height1 {
  height: 520px;
}
.border1 {
  border-top: 0px solid rgba(171, 175, 182, 0.2) !important;
}
.extra_bg1 {
  display: block;
  width: 100%;
  height: 303px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/bg5.png) 0 0 repeat-x;
}
.extra_bg2 {
  display: block;
  width: 100%;
  height: 285px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: url(../img/bg6.png) 0 0 repeat-x;
}
.divider2 {
  width: 100%;
  height: 4px;
  position: absolute;
  display: inline-block;
  background: url(../img/divider2.png) 0 0 repeat-x;
  bottom: 0px;
  left: 0;
}
/*===================================slider=======================*/
.sliderHolder {
  width: 535px;
  height: 330px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
}
#slider_simple1 {
  width: 535px;
  height: 250px;
  display: inline-block;
  position: relative;
}
#slider_simple1 > .slider_set {
  list-style: none;
  margin: 0;
}
#slider_simple1 > .slider_set li {
  height: 250px !important;
}
.sliderBtnHolder {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-top: 5px;
}
.sliderBtnHolder .sliderPrev {
  display: inline-block;
  float: left;
  margin-right: 2px;
  width: 48px;
  height: 49px;
  overflow: hidden;
  position: relative;
}
.sliderBtnHolder .sliderPrev img {
  position: absolute;
}
.sliderBtnHolder .sliderPrev:hover img {
  top: -49px;
}
.sliderBtnHolder .sliderNext {
  display: inline-block;
  float: left;
  width: 48px;
  height: 49px;
  overflow: hidden;
  position: relative;
}
.sliderBtnHolder .sliderNext img {
  position: absolute;
}
.sliderBtnHolder .sliderNext:hover img {
  top: -49px;
}
.sliders {
  list-style: none;
  margin: 0;
  position: relative;
  float: right;
  width: 958px;
  height: 521px;
  overflow: hidden;
}
.sliders li {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}
/*-------------------------- GOOGLE MAP --------------*/
.g_map {
  width: 700px;
  height: 495px;
  margin: 0;
  margin-bottom: 25px;
}
.g_map iframe {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
/*-------------------------- CONTACT FORM --------------*/
#form1 {
  position: relative;
  display: block;
  padding: 1px;
}
#form1 label {
  margin-bottom: 13px;
  position: relative;
  color: #b0b0b0;
}
#form1 label input,
#form1 label textarea {
  outline: none;
  box-shadow: none;
  margin: 0;
  width: 100%;
  padding: 8px 15px;
  background: #f5f5f5;
  border: 1px solid #d7d7d7;
  border-radius: 0;
  font: 14px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #b0b0b0;
}
#form1 label textarea {
  width: 437px;
  height: 388px;
  resize: none;
}
#form1 label input {
  width: 250px;
}
#form1 .error {
  width: 100%;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  text-align: right;
  top: 0;
}
#form1 .empty {
  width: 99%;
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  text-align: right;
  top: 0;
}
#form1 .success {
  background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0;
  width: 281px;
  height: 139px;
  border: 1px solid #d7d7d7;
}
#form1 .success > span {
  color: #b0b0b0;
  font: 400 14px/20px Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 50px;
}
.btns {
  float: right;
  margin-top: 0px;
}
.btns > a {
  margin-left: 0px;
}
#form1 .w1 {
  width: 278px;
}
/*------------- SEARCH LIST ------------------------------------------------------*/
.search_list .search {
  color: #a5ba1e;
}
.search_list > li {
  margin-bottom: 15px;
  color: #858585;
}
.search_list > li h4 {
  margin: 0;
}
.search_list h4 {
  margin: 0;
  color: #252832;
}
.search_list > li h4 > a {
  color: #a5ba1e;
  font: 20px/20px 'Alegreya Sans SC', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: underline;
}
.search_list > li h4 > a:hover {
  text-decoration: none;
}
.search_list > li .match {
  display: block;
  color: #a5ba1e;
  font-size: 12px;
  font-weight: bold;
}
/*-------------- FOOTER ---------------------------------------------------- */
footer {
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 107px;
  z-index: 5;
  bottom: 100px;
  overflow: visible !important;
}
footer .privacy_text {
  font: 400 12px/24px 'Alegreya Sans SC', Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #7a7a7a;
  text-transform: uppercase;
  margin: 41px 0;
  white-space: nowrap;
  float: left;
  position: relative;
  z-index: 2;
}
/*----------- FOOTER END ------------------------------------------------------*/
/*Core variables and mixins*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
